html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: url('../../resources/fighter-select-background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.fighters {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

.fighters .fight-start-button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    border: 7px solid black;
    border-radius: 10px;
    background-color: yellow;
    font-weight: bold;
    font-size: 2rem;
    color: red;
}

.fighters .fight-start-button:hover {
    background-color: rgb(173, 173, 0);
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
    font-weight: bold;
    text-shadow:
            1px 1px 0 #fff,
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}

.tip {
    position: absolute;
    text-align: center;
    color: rgba(255,255,255,.8);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

.fighter-image {
    height: 260px;
}

.fighter-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.fighter-details-form {
    padding: 20px;
    background-color: white;
    position: relative;
}

.fighter-name {
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.delete-button-row {
    justify-content: center;
}

.delete-button {
    margin: 10px 0 0 0;
    padding: 5px;
    color: white;
    background-color: red;
}

.attr-input {
    width: 40px;
}

#submit-btn {
    visibility: hidden;
}

.battle-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../resources/background-battle.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: white;
}

.fighter-a-container,
.fighter-b-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.fighter-a-label,
.fighter-b-label {
    margin: auto;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
}

.hp-indicator {
    margin-left: 10px;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 0 10px 10px 0;
    color: yellow;
}

.fighter-b-image {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.hit-label {
    position: absolute;
    display: inline;
    padding: 15px;
    border: 7px solid black;
    border-radius: 10px;
    font-size: 2rem;
    color: black;
}

.knockout-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 10rem;
    color: red;
    text-shadow: 4px 4px 0 #FEFF3C;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
